* {

	margin: 0;
	font-family: Ubuntu;

}

#mainContent {
	max-width: 800px;
	margin: auto;	
}

#form {
	padding-top: 2em;
}

ul {
	list-style-type: none;
}

label {
	display: inline-block;
	width: 180px;
	text-align: left;
}

p {
	padding-top:10px;
	padding-bottom:10px;
}

.leftBarOffset, .foreignLangDiv, .heritageLangDiv {
	border-left-style: solid;
	border-width: 10px;
	border-color: #d1c9c9;
	margin: 20px;
	max-width: 500px;
	padding-left: 10px;
}

textarea {
	width: 100%;
	max-width: 30em;
}

.outerDiv {
	padding-left: 20px;
}

.indentDiv input[type=number] {
	width: 50px;
}

#foreignLangBoolDiv {
	padding-top: 20px;
}

.studyTime, .timeInput {
	max-width: 5em;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.radioButtonWrapper li {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*.radioButtonWrapper label {
	padding-left: 30px;
	text-align: left;
}*/

.methodOfStudy {
	padding-top: 0px;
	padding-bottom: 0px;
}

.methodOfStudy > label {
	width: 70px;
	padding-left: 20px;
}

/*.stackedInputs {
	text-align: right;
	margin-right: 30%;
}

.stackedInputs input {
}

.stackedSpan {
	display: block;
}

.stackedSpan label {
	width: 90px;
}
*/

/*.stackedInputs > label {
	padding-left: 20px;
	width: 70px;
	text-align: right;
}*/

.stackedInputs p {
	padding-left: 20%;
}

.timeTable, .timeTable td, .timeTable th {
	border-style: none;
}

.timeTable {
	margin-left: 20%;
	padding-bottom: 20px;
}

.timeTable label {
	width: auto;
}

.totalRow td {
	padding-top: 10px;
}

select {
	width: 170px;
}

fieldset {
	
}

.errorlist, .error {
	color: red;
	padding-left: 0;
}
.errorList li {
	padding-bottom: 0;
}

.studyCalculator, .daysCalculator {
	padding-left: 10%;
}

.normalWidth {
	width: auto;
}

.headerRight, .headerRight * {
	text-align: right;
	color: #ffffff;
	margin-bottom: .25em;
	margin-top: .25em;
	margin-right: .5em;
}

.addNatLangButt, .rmNatLangButt {
	display: block;
	
}

.ui-dialog {
	background-color:white;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
