* {

	margin: 0;
	font-family: Ubuntu;

}

#mainContent {
	max-width: 800px;
	margin: auto;	
}

#form {
	padding-top: 2em;
}

ul {
	list-style-type: none;
}

label {
	display: inline-block;
	width: 180px;
	text-align: left;
}

p {
	padding-top:10px;
	padding-bottom:10px;
}

.foreignLangDiv, #visionProblemsDetails, #hearingProblemsDetails, #adminCommentDiv {
	border-left-style: solid;
	border-width: 10px;
	border-color: grey;
	margin: 20px;
	max-width: 500px;
	padding-left: 10px;
}

.outerDiv {
	padding-left: 20px;
}

.foreignLangDiv input[type=number] {
	width: 50px;
}

#foreignLangBoolDiv {
	padding-top: 20px;
}

input[type=number] {
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.radioButtonWrapper li {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*.radioButtonWrapper label {
	padding-left: 30px;
	text-align: left;
}*/

.methodOfStudy {
	padding-top: 0px;
	padding-bottom: 0px;
}

.methodOfStudy > label {
	width: 70px;
	padding-left: 20px;
}

select {
	width: 170px;
}

fieldset {
	
}

.errorlist, .error {
	color: red;
	padding-left: 0;
}
.errorList li {
	padding-bottom: 0;
}

.studyCalculator, .daysCalculator {
	padding-left: 10%;
}

.normalWidth {
	width: auto;
}

.headerRight, .headerRight * {
	text-align: right;
	color: #ffffff;
	margin-bottom: .25em;
	margin-top: .25em;
	margin-right: .5em;
}
