<!DOCTYPE html>
<html>

{% load staticfiles %}
<head>
	<link href="{% static 'surveyThesis/surveyStyle.css' %}" type="text/css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>

<form id="form" action="" method="post">
	{% csrf_token %}
	<ul id="pageOneUl">

		{{ form.participantNumber.errors }}
		<li>{{ form.participantNumber.label_tag}}
		{{ form.participantNumber }}</li>

		{{ form.age.errors }}
		<li>{{ form.age.label_tag }}
		{{ form.age }}</li>
		
		{{ form.education.errors }}
		<li>{{ form.education.label_tag }}
			{{ form.education }}</li>

		<div class="hiddenDiv" id="undergradLevelDiv" hidden>
			{{ form.undergradLevel.errors }}
			<li>{{ form.undergradLevel.label_tag }}
			{{ form.undergradLevel }}</li>
		</div>

		<div id="nativeLangWrapper">
			<div id="natLangDiv1">
				<li class="errorMessage" hidden>This field cannot be blank</li>
				{{ form.nativeLanguage1.errors }}
				<li>{{ form.nativeLanguage1.label_tag }}
				{{ form.nativeLanguage1 }} 
				<button id="natLangButt1" type="button">Add language</button>
				</li>
			</div>

			<div class="hiddenDiv" id="natLangDiv2" hidden>
				<li class="errorMessage" hidden>This field cannot be blank</li>
				{{ form.nativeLanguage2.errors }}
				<li>{{ form.nativeLanguage2.label_tag }}
				{{ form.nativeLanguage2 }}
				<button id="natLangButt2" type="button">Remove language</button>
				</li>
			</div>

			<div class="hiddenDiv" id="natLangDiv3" hidden>
				<li class="errorMessage" hidden>This field cannot be blank</li>
				{{ form.nativeLanguage3.errors }}
				<li>{{ form.nativeLanguage3.label_tag }}
				{{ form.nativeLanguage3 }}
				<button id="natLangButt3" type="button">Remove language</button>
				</li>
			</div>

			<div class="hiddenDiv" id="natLangDiv4" hidden>
				<li class="errorMessage" hidden>This field cannot be blank</li>
				{{ form.nativeLanguage4.errors }}
				<li>{{ form.nativeLanguage4.label_tag }}
				{{ form.nativeLanguage4 }}
				<button id="natLangButt4" type="button">Remove language</button>
				</li>
			</div>
		</div>

	</ul>

	<button type="button" id="submitButton">Next</button>
</form>

	<script src="{% static 'surveyThesis/hideShowUndergrad.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/validateAndSubmit.js' %}" type="text/javascript"></script>

</body>

</html>
