<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ form.pageTitle }}</title>
	<link href="{% static 'surveyThesis/surveyStyle.css' %}" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'surveyThesis/headerChunk.css' %}"/>
</head>

<body>

<div id="headline">
	<h1 id="headerH1">{{ form.pageTitle }}</h1>
</div>

<div id="mainContent">	
<form id="form" action="" method="post">
	{% csrf_token %}

		{{ form.age.errors }}
		<p>{{ form.age.label_tag }}
		{{ form.age }}</p>

		{{ form.gender.errors }}
		<p>{{ form.gender.label_tag }}
		{{ form.gender }}</p>
		
		{{ form.education.errors }}
		<p>{{ form.education.label_tag }} {{ form.education }}</p>

		<div id="undergradLevelDiv" class="indentDiv" hidden>
			{{ form.undergradLevel.errors }}
			<p>{{ form.undergradLevel.label_tag }}
			{{ form.undergradLevel }}</p>
		</div>

	<div id="nativeLangWrapper">
		<div id="natLangDiv1">
			<p class="errorMessage" hidden>{{ form.fieldRequiredMess }}</p>
			<label for="natLangSelect1">{{ form.nativeLanguageLabel }}</label>
			<select id="natLangSelect1">
				<option selected disabled value=""></option>
			{% for lang in form.languageChoices %}
				<option value="{{ lang.0 }}">{{ lang.1 }}</option>
			{% endfor %}
			</select>
			<button id="addNatLangButt" type="button">{{ form.addLanguageButtonText }}</button>
		</div>
	</div>

	<div hidden>
		{{ form.nativeLanguages }}
		<input id="removeButtonText" value="{{ form.removeButtonText }}"/>
	</div>

	<div id="foreignLangBoolDiv" class="radioButtonWrapper">
		{{ form.foreignLangsBool.errors }}
		<p>{{ form.foreignLangsQuestion }}</p>
		{{ form.foreignLangBool }}	
	</div>

	<div hidden>
		{{ form.foreignLanguages }}
	</div>

	<div id="foreignLanguageWrapper" hidden>
		<div id="outerDiv">
		<div id="foreignLangDiv1" class=indentDiv>
			<p class="errorMessage" hidden>{{ form.fieldRequiredMess }}</p>
			<label for="foreignLangSelect1">{{ form.foreignLangLabel }}</label>
			<select id="foreignLangSelect1">
				<option selected disabled value=""></option>
			{% for flang in form.languageChoices %}
				<option value="{{ flang.0 }}">{{ flang.1 }}</option>
			{% endfor %}
			</select>

			<p class="errorMessage" hidden>{{ form.fieldRequiredMess }}</p>
			<p>
			<label for="foreignProfSelect1">{{ form.foreignProfLabel }}</label>
				<select id="foreignProfSelect1">
					<option selected disabled value=""></option>
					{% for prof in form.foreignProficiencyChoices %}
					<option value="{{ prof.0 }}">{{ prof.1 }}</option>
					{% endfor %}
				</select>
			</p>
			{{ form.foreignProficiency }}

			<p>{{ form.methodOfStudyQuestion }}</p>
			<p class="methodOfStudy">
				<label for="schoolCheckbox1">{{ form.schoolLabel }}</label>
				<input id="schoolCheckbox1" name="school1" type="checkbox"/>
			</p>
			<div id="schoolTimeDiv1" class="stackedInputs" hidden>
				<p>{{ form.semestersQuestion }}</p>
				<p class="errorMessage" hidden></p>

				<table class="timeTable">
					<tr>
						<td></td>
						<td>
							<input id="years1" name="years" type="number" class="studyTime" value="0" min="0" />
						</td>
						<td>
							<label for="years1">{{ form.yearsText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="semesters1" name="semesters" type="number" class="studyTime" value="0" min="0" />
						</td>
						<td>
							<label for="semesters1">{{ form.semestersText }}</label>
						</td>
					</tr>
					<tr class="totalRow">
						<td>=</td>
						<td>
							<span name="semestersTotal">0</span>
						</td>
						<td>
							{{ form.semestersTotalText }}
						</td>
					</tr>
				</table>

			</div>

			<p class="methodOfStudy">
				<label for="livedCheckbox1">{{ form.livedLabel }}</label>
				<input id="livedCheckbox1" name="lived1" type="checkbox"/>
			</p>

			<div id="livedTimeDiv1" class="stackedInputs" hidden>
				<p>{{ form.livedQuestion }}</p>
				<p class="errorMessage" hidden></p>

				<table class="timeTable">
					<tr>
						<td></td>
						<td>
							<input id="livedYears1" name="years" type="number" class="timeInput" value="0" min="0" />
						</td>
						<td>
							<label for="livedYears1">{{ form.yearsText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="livedMonths1" name="months" type="number" class="timeInput" value="0" min="0" />
						</td>
						<td>
							<label for="livedMonths1">{{ form.monthsText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="livedWeeks1" name="weeks" type="number" class="timeInput" value="0" min="0" /> 
						</td>
						<td>
							<label for="livedWeeks1">{{ form.weeksText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="livedDays1" name="days" type="number" class="timeInput" value="0" min="0" />	
						</td>
						<td>
							<label for="livedDays1">{{ form.daysText }}</label>
						</td>
					</tr>
					<tr class="totalRow">
						<td>=</td>
						<td>
							<span name="daysTotal">0</span>
						</td>
						<td>
							{{ form.daysTotalText }}
						</td>
					</tr>
				</table>
			</div>

			<p class="methodOfStudy">
				<label for="otherStudyCheckbox1">{{ form.otherLabel }}</label>
				<input id="otherStudyCheckbox1" name="otherStudy1" type="checkbox"/>
			</p>

			<div id="otherStudyTimeDiv1" class="stackedInputs" hidden>
				<p>{{ form.otherStudyDetails.errors }}</p>
				<p><label for="otherStudyDetails1">{{ form.otherStudyDetailsLabel }}</label>
					<input id="otherStudyDetails1"/>
				</p>
				<p>{{ form.otherTimeQuestion }}</p>


				<table class="timeTable">
					<tr>
						<td></td>
						<td>
							<input id="otherYears1" name="years" type="number" class="timeInput" value="0" min="0" />
						</td>
						<td>
							<label for="otherYears1">{{ form.yearsText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="otherMonths1" name="months" type="number" class="timeInput" value="0" min="0" />
						</td>
						<td>
							<label for="otherMonths1">{{ form.monthsText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="otherWeeks1" name="weeks" type="number" class="timeInput" value="0" min="0" /> 
						</td>
						<td>
							<label for="otherWeeks1">{{ form.weeksText }}</label>
						</td>
					</tr>
					<tr>
						<td>+</td>
						<td>
							<input id="otherDays1" name="days" type="number" class="timeInput" value="0" min="0" />	
						</td>
						<td>
							<label for="otherDays1">{{ form.daysText }}</label>
						</td>
					</tr>
					<tr class="totalRow">
						<td>=</td>
						<td>
							<span name="daysTotal">0</span>
						</td>
						<td>
							{{ form.daysTotalText }}
						</td>
					</tr>
				</table>

<!--
					<span class="errorMessage" hidden><br /></span>
					<label for="otherYears1">{{ form.yearsText }}</label>
					<input id="otherYears1" name="years" type="number" class="timeInput" value="0" min="0" />	 + 
					<label for="otherMonths1">{{ form.monthsText }}</label>
					<input id="otherMonths1" name="months" type="number" class="timeInput" value="0" min="0" /> + 	
					<label for="otherWeeks1">{{ form.weeksText }}</label>
					<input id="otherWeeks1" name="weeks" type="number" class="timeInput" value="0" min="0" />	+ 
					<label for="otherDays1">{{ form.daysText }}</label>
					<input id="otherDays1" name="days" type="number" class="timeInput" value="0" min="0" />	
				= <span id="daysTotal">0</span> <span>{{ form.daysTotalText }}</span>
				</p>		-->
			</div>

			<button id="addForLangButt" type="button">{{ form.addLanguageButtonText }}</button>
		</div>
		</div>
	</div>

	<div class="radioButtonWrapper">
		{{ form.visionProblems.errors }}
		<p>{{ form.visionProblemsText }}</p>
		{{ form.visionProblems }}
	</div>
	<div id="visionProblemsDetails" class="indentDiv" hidden>
		{{ form.visionProblemsDetails.errors }}
		<p>{{ form.visionProblemsDetailsText }}</p>
		{{ form.visionProblemsDetails }}
	</div>

	<div class="radioButtonWrapper">
		{{ form.readingProblems.errors }}
		<p>{{ form.readingProblemsText }}</p>
		{{ form.readingProblems }}
	</div>
	<div id="readingProblemsDetails" class="indentDiv" hidden>
		{{ form.readingProblemsDetails.errors }}
		<p>{{ form.readingProblemsDetailsText }}</p>
		{{ form.readingProblemsDetails }}
	</div>

	<div class="radioButtonWrapper">
		{{ form.additionalHomeLang.errors }}
		<p>{{ form.additionalHomeLangText }}</p>
		{{ form.additionalHomeLang }}
	</div>
	<div id="additionalHomeLangDetails" class="indentDiv" hidden>
		{{ form.additionalHomeLangDetails.errors }}
		<p>{{ form.additionalHomeLangDetailsText }}</p>
		{{ form.additionalHomeLangDetails }}
	</div>


	<button type="button" id="submitButton">{{ form.submitText }}</button>

	{{ form.errors }}
	{{ form.non_field_errors }}

</form>
</div>

	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'surveyThesis/json2.js' %}" type="text/javascript"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
	<script src="{% static 'surveyThesis/getIdNum.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/hideShowUndergrad.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/validateAndSubmit.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/natLangs.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/hideShowDiv.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/foreignLangs.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/difficulties.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/calculateTime.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/additionalLang.js' %}" type="text/javascript"></script>
</body>

</html>
