<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ form.pageTitle }}</title>
	<link href="{% static 'surveyThesis/surveyStyle.css' %}" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'surveyThesis/headerChunk.css' %}"/>
</head>

<body>

<div id="headline">
	<h1 id="headerH1">{{ form.pageTitle }}</h1>
		<p class="headerRight">Logged in as {{ user }}
			<a id="logoutLink" href="/accounts/logout/">Logout</a>
		</p>
</div>

<div id="mainContent">	

<form id="form" action="" method="post">
	{% csrf_token %}

	{% if resultsForUser %}
		<h3>Viewing results for {{ resultsForUser }}</h3>

		<p><a href="/results">Back to list</a></p>

		<p>Administrator comments:</p>
		<div id="adminCommentDiv" class="leftBarOffset">
			{{ form.adminComment }}
		</div>

	{% elif isAdmin %}

		<p><a href="/results">View submissions</a></p>

	{% endif %}

		{% if form.errors or natLangsForms.total_error_count > 0  or forLangsForms.total_error_count > 0 %}
			<p class="error">There were errors, please find them below</p>
		{% endif %}

		{{ form.age.errors }}
		<p>{{ form.age.label_tag }}
		{{ form.age }}</p>

		{{ form.gender.errors }}
		<p>{{ form.gender.label_tag }}
		{{ form.gender }}</p>
		
		{{ form.education.errors }}
		<p>{{ form.education.label_tag }} {{ form.education }}</p>

		<div id="undergradLevelDiv" class="indentDiv" hidden>
			{{ form.undergradLevel.errors }}
			<p>{{ form.undergradLevel.label_tag }}
			{{ form.undergradLevel }}</p>
		</div>

	<div id="nativeLangWrapper">
		{{ natLangsForms.management_form }}
		{{ natLangsForms.non_form_errors }}
		{% for natLangForm in natLangsForms %}
			<div id="natLangDiv{{ forloop.counter0 }}" class="natLang">
				{{ natLangForm.nativeLang.errors }}
				{{ natLangForm.nativeLang.label_tag }}
				{{ natLangForm.nativeLang }}
				{{ natLangForm.DELETE }}

				{% if forloop.counter0 == 0 %}
					<button class="addNatLangButt" type="button">{{ form.addLanguageButtonText }}</button>
				{% else %}
					<button class="rmNatLangButt" type="button">{{ form.removeButtonText }}</button>
				{% endif %}
			</div>
		{% endfor %}

	</div>

	<div hidden>
		<input id="removeButtonText" value="{{ form.removeButtonText }}"/>
	</div>

	<div id="foreignLangBoolDiv" class="radioButtonWrapper">
		{{ form.foreignLangBool.errors }}
		<p>{{ form.foreignLangsQuestion }}</p>
		{{ form.foreignLangBool }}	
	</div>

	<!-- using style prevents it from flashing on load, flashing still 
		occurs when put in css file, probably because css is loaded later? -->
	<div id="foreignLanguageWrapper" style="display:none;">
		{{ forLangsForms.management_form }}
		{{ forLangsForms.non_form_errors }}
		{% for fl in forLangsForms %}
			<div id="foreignLangDiv{{ forloop.counter0 }}" class="foreignLangDiv">
				{{ fl.DELETE }}
				{{ fl.foreignLang.errors }}
				{{ fl.foreignLang.label_tag }}
				{{ fl.foreignLang }}

				{{ fl.proficiency.errors }}
				{{ fl.proficiency.label_tag }}
				{{ fl.proficiency }}

				<p>{{ fl.methodOfStudyQuestion }}</p>

				<div class="methodOfStudy">
					{{ fl.school.errors }}
					{{ fl.school.label_tag }}
					{{ fl.school }}

					<div class="studyCalculator" hidden>
						<p>{{ fl.semestersQuestion }}</p>
						{{ fl.schoolSemesters.errors }}

						<table class="studyTable">
							<tr>
								<td></td>
								<td>{{ fl.schoolYears }}</td>
								<td>{{ fl.schoolYears.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.schoolSemesters }}</td>
								<td>{{ fl.schoolSemesters.label }}</td>
							</tr>
							<tr>
								<td>=</td>
								<td><span class="semestersTotal">0</span>
								<td>{{ fl.semestersTotalText }}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="methodOfStudy">
					{{ fl.lived.errors }}
					{{ fl.lived.label_tag }}
					{{ fl.lived }}

					<div class="daysCalculator" hidden>
						<p>{{ fl.livedQuestion }}</p>
						{{ fl.livedYears.errors }}

						<table class="daysTable">
							<tr>
								<td></td>
								<td>{{ fl.livedYears }}</td>
								<td>{{ fl.livedYears.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.livedMonths }}</td>
								<td>{{ fl.livedMonths.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.livedWeeks }}</td>
								<td>{{ fl.livedWeeks.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.livedDays }}</td>
								<td>{{ fl.livedDays.label }}</td>
							</tr>

							<tr>
								<td>=</td>
								<td><span class="daysTotal">0</span>
								<td>{{ fl.daysTotalText }}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="methodOfStudy">
					{{ fl.worked.errors }}
					{{ fl.worked.label_tag }}
					{{ fl.worked }}

					<div class="daysCalculator" hidden>
						<p>{{ fl.livedQuestion }}</p>
						{{ fl.workedYears.errors }}

						<table class="daysTable">
							<tr>
								<td></td>
								<td>{{ fl.workedYears }}</td>
								<td>{{ fl.workedYears.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.workedMonths }}</td>
								<td>{{ fl.workedMonths.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.workedWeeks }}</td>
								<td>{{ fl.workedWeeks.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.workedDays }}</td>
								<td>{{ fl.workedDays.label }}</td>
							</tr>

							<tr>
								<td>=</td>
								<td><span class="daysTotal">0</span>
								<td>{{ fl.daysTotalText }}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="methodOfStudy">
					{{ fl.other.errors }}
					{{ fl.other.label_tag }}
					{{ fl.other }}

					<div class="daysCalculator" hidden>
						{{ fl.otherStudyExplanation.errors }}
						<p>
							<label for="{{ fl.otherStudyExplanation.auto_id }}" class="slimLabel">
								{{ fl.otherStudyExplanation.label }}
								{{ fl.otherStudyExplanation }}
							</label>
						</p>

						{{ fl.otherYears.errors }}

						<table class="daysTable">
							<tr>
								<td></td>
								<td>{{ fl.otherYears }}</td>
								<td>{{ fl.otherYears.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.otherMonths }}</td>
								<td>{{ fl.otherMonths.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.otherWeeks }}</td>
								<td>{{ fl.otherWeeks.label }}</td>
							</tr>
							<tr>
								<td>+</td>
								<td>{{ fl.otherDays }}</td>
								<td>{{ fl.otherDays.label }}</td>
							</tr>

							<tr>
								<td>=</td>
								<td><span class="daysTotal">0</span>
								<td>{{ fl.daysTotalText }}</td>
							</tr>
						</table>
					</div>
				</div>
				{% if forloop.counter0 == 0 %}
					<button class="addForLangButt" type="button">{{ form.addForLangText }}</button>
				{% else %}
					<button class="rmForLangButt" type="button">{{ form.rmForLangText }}</button>
				{% endif %}

			</div>
		{% endfor %}
	</div>



	<div id="visionDiv" class="radioButtonWrapper">
		{{ form.visionProblems.errors }}
		<p>{{ form.visionProblemsText }}</p>
		{{ form.visionProblems }}
	</div>

	<div id="visionProblemsDetails" class="leftBarOffset" style="display:none;">
		{{ form.visionProblemsDetails.errors }}
		<p>{{ form.visionProblemsDetailsText }}</p>
		{{ form.visionProblemsDetails }}
	</div>

	<div id="hearingDiv" class="radioButtonWrapper">
		{{ form.hearingProblems.errors }}
		<p>{{ form.hearingProblemsText }}</p>
		{{ form.hearingProblems }}
	</div>
	<div id="hearingProblemsDetails" class="leftBarOffset" style="display:none;">
		{{ form.hearingProblemsDetails.errors }}
		<p>{{ form.hearingProblemsDetailsText }}</p>
		{{ form.hearingProblemsDetails }}
	</div>

	<div class="radioButtonWrapper">
		{{ form.additionalHomeLang.errors }}
		<p>{{ form.additionalHomeLangText }}</p>
		{{ form.additionalHomeLang }}
	</div>
	<div id="additionalHomeLangDetails" class="indentDiv" hidden>
		{{ form.additionalHomeLangDetails.errors }}
		<p>{{ form.additionalHomeLangDetailsText }}</p>
		{{ form.additionalHomeLangDetails }}
	</div>


	<button type="submit" id="submitButton">Submit</button>

	{% comment %}
		{{ form.errors }}
		{{ form.non_field_errors }}
	{% endcomment %}

</form>
</div>

	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'surveyThesis/json2.js' %}" type="text/javascript"></script>
	<script src="{% static 'dynamicDr/dynamicDr.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/dynamicConfig.js' %}" type="text/javascript"></script>
	<script src="{% static 'timeCalculator/timeCalculator.js' %}" type="text/javascript"></script>
	<script src="{% static 'surveyThesis/timeCalcConfig.js' %}" type="text/javascript"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
</body>

</html>
